* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chau Philomene One', sans-serif;
    background-color: #eed254;
    margin-bottom: 30px;
}

header {
    padding: 1% 2% 1% 5%;
    margin: 1%;
    border-radius: 50px; 
    font-size: 2rem;
    background-color: black;
    color: aliceblue;
}
header img{
    padding-right: 10px;
}
#logo{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}

section{
    display: flex;
    justify-content: center;

}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

form input{
    border: 1px black solid;
    border-radius: 5px;
    height: 25px;
}
form textarea{
    border: 1px black solid;
    border-radius: 5px;
}
form button{
    width: 20%;
    background-color: black;
    color: aliceblue;
    border-style: none;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}
#botoes{
    display: flex;
    justify-content: flex-end;
}